[submodule "plugins/internal"]
	path = plugins/internal
	url = https://github.com/PurredCoffee/clawffee-plugin-internal
[submodule "plugins/builtin"]
	path = plugins/builtin
	url = https://github.com/PurredCoffee/clawffee-plugin-builtin
